<component name="ArtifactManager">
  <artifact type="exploded-war" build-on-make="true" name="springmvc-annotation:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_annotation_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc-annotation" />
        </element>
      </element>
      <element id="dir-copy" path="$PROJECT_DIR$/springmvc-annotation/web" />
      <element id="module-source" name="springmvc-annotation" />
      <element id="javaee-facet-resources" facet="springmvc-annotation/web/Web" />
    </root>
  </artifact>
</component>